<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <a [routerLink]="['/']" class="navbar-brand">{{ 'APP_NAME' | translate }}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a class="nav-link" [routerLink]="['/login']" *ngIf="!auth.isLoggedIn()">{{ 'LOGIN' | translate }}</a>
        <a class="nav-link" href="#" (click)="onBtnLogoutClick($event)" *ngIf="auth.isLoggedIn()">{{ 'LOGOUT' | translate }}</a>
      </li>
    </ul>
  </div>
  <form [formGroup]="frmSearch" (submit)="onFrmSearchSubmit()" class="form-inline mr-auto">
    <input type="text" class="form-control mr-sm-2" formControlName="query" placeholder="{{ 'SEARCH' | translate }} {{ 'HOUSE' | translate }}...">
    <button type="submit" class="btn btn-outline-success" [disabled]="frmSearch.invalid">{{ 'SEARCH' | translate }}</button>
    <select #languageSelector (change)="onLanguageChange($event)" class="form-control margin-left-5">
      <option value="en">English</option>
      <option value="ka">Kanada</option>
    </select>
  </form>
</nav>