<tm-navbar></tm-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ng-flash-message></ng-flash-message>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-2 col-sm-5">
      <select class="form-control" (change)="onSelectedVillageChange($event)">
        <!-- Make sure that the last option is selected by default -->
        <option selected="{{ (i == villages.length) }}" *ngFor="let village of villages; let i = index" [value]="village.id">{{ village.village_name }}</option>
      </select>
    </div>
    <div class="col-md-4 col-lg-2 col-sm-5">
      <select class="form-control" (change)="onSelectedSheetChange($event)">
        <!-- Make sure that the last option is selected by default -->
        <option selected="{{ (i == sheets.length) }}" *ngFor="let sheet of sheets; let i = index" [value]="sheet.id">{{sheet.from_year}}-{{sheet.to_year}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          {{ 'NEW' | translate }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" data-toggle="modal" data-target="#modal-sheet-details" href="#">{{ 'SHEET' | translate }}</a>
          <a class="dropdown-item" (click)="onBtnNewHouseClick($event)" data-toggle="modal" href="#">{{ 'HOUSE' | translate }}</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#modal-tax-details" href="#">{{ 'TAX' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <tm-sheet [sheetDetails]="sheetDetails" [villageName]="selectedVillageName" [loading]="!sheetLoading && sheetsAvailable"></tm-sheet>
    </div>
    <div class="col-sm-12 offset-md-3 col-md-6 margin-top-60" *ngIf="sheetLoading">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
          Loading...
        </div>
      </div>
    </div>
    <div class="col-sm-12 offset-md-3 col-md-6 margin-top-60" *ngIf="!sheetsAvailable && !sheetLoading">
      <div class="jumbotron">
        <h1 class="text-center display-4">{{ 'NO_SHEET_AVAILABLE' | translate }}</h1>
        <hr>
        <p class="lead text-center">
          <button class="btn btn-outline-success" data-toggle="modal" data-target="#modal-sheet-details">{{ 'NEW' | translate }} {{ 'SHEET' | translate }}</button>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal for sheet details -->
<div id="modal-sheet-details" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'SHEET' | translate }} {{ 'DETAILS' | translate }}</h4>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmSheetDetails" action="">
          <div class="form-group">
            <label for="from">{{ 'FROM' | translate }}</label>
            <input id="from" class="form-control" type="text" formControlName="fromYear" placeholder="{{ 'FROM' | translate }} {{ 'YEAR' | translate }}">
            <div class="error-field" *ngIf="fromYear.invalid && fromYear.touched">
              {{ 'ERRORS.REQUIRED' | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="to">{{ 'TO' | translate }}</label>
            <input id="to" class="form-control" type="text" formControlName="toYear" placeholder="{{ 'TO' | translate }} {{ 'YEAR' | translate }}">
            <div class="error-field" *ngIf="toYear.invalid && toYear.touched">
              {{ 'ERRORS.REQUIRED' | translate }}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="onBtnSaveSheetClick($event)" [disabled]="frmSheetDetails.invalid">
          <i class="fa fa-floppy-o"></i>&nbsp; {{ 'SAVE' | translate }}
        </button>
        <button class="btn btn-danger" data-dismiss="modal">
          {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for tax details -->
<div id="modal-tax-details" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'TAX' | translate }} {{ 'DETAILS' | translate }}</h4>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmTaxDetails" action="">
          <div class="form-group">
            <label for="tax-name">{{ 'TAX' | translate }} {{ 'NAME' | translate }}</label>
            <input id="tax-name" class="form-control" type="text" formControlName="taxName" placeholder="{{ 'TAX' | translate }} {{ 'NAME' | translate }}">
            <div class="error-field" *ngIf="taxName.invalid && taxName.touched">
              {{ 'ERRORS.REQUIRED' | translate }}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="onBtnSaveTaxClick($event)" [disabled]="frmTaxDetails.invalid">
          <i class="fa fa-floppy-o"></i>&nbsp; {{ 'SAVE' | translate }}
        </button>
        <button class="btn btn-danger" data-dismiss="modal">
          {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>