<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-2 col-sm-10">
      <select class="form-control" (change)="onSelectedSheetChange($event)">
        <!-- Make sure that the last option is selected by default -->
        <option selected="{{ (i == sheets.length) }}" *ngFor="let sheet of sheets; let i = index" [value]="sheet.id">{{sheet.from_year}}-{{sheet.to_year}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          New
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="onBtnNewSheetClick($event)" href="#">Sheet</a>
          <a class="dropdown-item" href="#">House</a>
          <a class="dropdown-item" href="#">Tax</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <tm-sheet [sheetDetails]="sheetDetails"></tm-sheet>
    </div>
  </div>
</div>