<div class="container">
  <div class="row">
    <div class="col-sm-2 header">
      Gram Panchayat
    </div>
    <div class="col-sm-4 bottom-border">
      Sammatipuram
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      Receipt
    </div>
    <div class="col-sm-4 bottom-border">
      12345
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      Mr. / Mrs.
    </div>
    <div class="col-sm-4 bottom-border">
      Ameer Jhan
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      Total
    </div>
    <div class="col-sm-2 bottom-border">
      2913
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <tr>
          <th>Tax</th>
          <th>Balance</th>
          <th>Current</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Water</td>
          <td>120</td>
          <td>100</td>
          <td>300</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      Date
    </div>
    <div class="col-sm-2 bottom-border">
      18/1/2017
    </div>
  </div>
</div>