<div class="container">
  <div class="row">
    <div class="col-sm-2 header">
      {{ 'PANCHAYAT' | translate }}
    </div>
    <div class="col-sm-4 bottom-border">
      {{ panchayatName }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      {{ 'RECEIPT' | translate }}
    </div>
    <div class="col-sm-4 bottom-border">
      {{ receiptNumber }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      {{ 'MR' | translate }}. / {{ 'MRS' | translate }}.
    </div>
    <div class="col-sm-4 bottom-border">
      {{ billDetails.house.owner_name }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      {{ 'TOTAL' | translate }}
    </div>
    <div class="col-sm-2 bottom-border">
      {{ totalAmount }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <tr>
          <th>{{ 'TAX' | translate }}</th>
          <th>{{ 'BALANCE' | translate }}</th>
          <th>{{ 'CURRENT' | translate }}</th>
          <th>{{ 'TOTAL' | translate }}</th>
        </tr>
        <ng-container *ngFor="let availableTax of availableTaxes">
          <tr *ngIf="billDetails[availableTax.id]">
            <td>{{ availableTax.tax }}</td>
            <td>
              <ng-container *ngIf="billDetails[availableTax.id].balance">
                {{ billDetails[availableTax.id].balance }}
              </ng-container>
              <ng-container *ngIf="!billDetails[availableTax.id].balance">
                -
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="billDetails[availableTax.id].currentAmount">
                {{ billDetails[availableTax.id].currentAmount }}
              </ng-container>
              <ng-container *ngIf="!billDetails[availableTax.id].currentAmount">
                -
              </ng-container>
            </td>
            <td>
              {{ parseInt(billDetails[availableTax.id].balance || 0) + parseInt(billDetails[availableTax.id].currentAmount || 0) }}
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 header">
      {{ 'DATE' | translate }}
    </div>
    <div class="col-sm-2 bottom-border">
      {{ todayDate }}
    </div>
  </div>
</div>