<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Login</h4>
          <form action="" [formGroup]="frmLogin" (submit)="onFrmLoginSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" id="username" formControlName="username" placeholder="Username">
              <div class="error-field" *ngIf="username.invalid && username.touched">
                This field is required
              </div>
            </div>
            <div class="form-group">
              <label for="username">Password</label>
              <input class="form-control" type="password" id="password" formControlName="password" placeholder="Password">
              <div class="error-field" *ngIf="password.invalid && password.touched">
                This field is required
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-success" [disabled]="frmLogin.invalid" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>