<div class="row no-gutters">
  <div class="col-sm-12">
    <table class="table table-bordered table-responsive">
      <tr>
        <th>OwnerName</th>
        <th *ngFor="let availableTax of sheetDetails.availableTaxes" colspan="5">{{ availableTax.tax }} Tax</th>
      </tr>
      <tr>
        <th>-</th>
        <ng-container *ngFor="let availableTax of sheetDetails.availableTaxes">
          <th>Previous</th>
          <th>Current</th>
          <th>Total</th>
          <th>Paid Amount</th>
          <th>Balance</th>
        </ng-container>
      </tr>
      <tr *ngFor="let availableHouse of sheetDetails.availableHouses">
        <td>
          {{ availableHouse.owner_name }} &nbsp;
          <a href="#" (click)="onHouseDetailsEditClick($event)">
            <i class="fa fa-pencil"></i>
          </a>
        </td>
        <!-- List the tax and the amount paid -->
        <ng-container *ngFor="let availableTax of sheetDetails.availableTaxes">
          <ng-container *ngIf="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id]">
            <td *ngIf="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].previousYear">
              {{ sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].previousYear }}
            </td>
            <td *ngIf="!sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].previousYear">
              -
            </td>
            <td *ngIf="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear">
              <ng-container *ngIf="!sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYearEditable">
                {{ sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear }} &nbsp;
                <a (click)="onCurrentYearEditClick($event, availableHouse.id, availableTax.id)" href="#">
                  <i class="fa fa-1x fa-pencil"></i>
                </a>
              </ng-container>
              <input type="text" (blur)="onCurrentYearBlur($event, sheetDetails.id,availableHouse.id, availableTax.id)" (keypress)="onCurrentYearKeyPress($event, sheetDetails.id,availableHouse.id, availableTax.id)"
                class="form-control" *ngIf="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYearEditable"
                [value]="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear">
            </td>
            <td *ngIf="!sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear">
              -
            </td>
            <td>
              {{ parseInt(sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear || 0) + parseInt(sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].previousYear
              || 0) }}
            </td>
            <td *ngIf="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear">
              <ng-container *ngIf="!sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].paidAmountEditable">
                {{ sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].paidAmount }} &nbsp;
                <a (click)="onPaidAmountEditClick($event, availableHouse.id, availableTax.id)" href="#">
                  <i class="fa fa-1x fa-pencil"></i>
                </a>
              </ng-container>
              <input type="text" (blur)="onPaidAmountBlur($event, sheetDetails.id,availableHouse.id, availableTax.id)" (keypress)="onPaidAmountKeyPress($event, sheetDetails.id,availableHouse.id, availableTax.id)"
                class="form-control" *ngIf="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].paidAmountEditable"
                [value]="sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].paidAmount">
            </td>
            <td *ngIf="!sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].paidAmount">
              -
            </td>
            <td>
              {{ parseInt(sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].currentYear || 0) + parseInt(sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].previousYear
              || 0) - parseInt(sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id].paidAmount || 0) }}
            </td>
          </ng-container>
          <ng-container *ngIf="!sheetDetails.balanceSheet[availableHouse.id].taxes[availableTax.id]">
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </ng-container>
        </ng-container>
      </tr>
    </table>
  </div>
</div>

<!-- Modal for house details -->
<div id="modal-house-details" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">House Details</h4>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="frmHouseDetails">
          <div class="form-group">
            <label for="owner-name">Owner Name</label>
            <input id="owner-name" type="text" class="form-control" formControlName="ownerName" placeholder="Name of the house owner">
            <div class="error-field" *ngIf="ownerName.invalid && ownerName.touched">
              This field is required
            </div>
          </div>
          <div class="form-group">
            <label for="house-number">House Number</label>
            <input id="house-number" type="text" class="form-control" formControlName="houseNumber" placeholder="House number">
            <div class="error-field" *ngIf="houseNumber.invalid && houseNumber.touched">
              This field is required
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">
          <i class="fa fa-floppy-o"></i>&nbsp;Save</button>
        <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>