/* You can add global styles to this file, and also import other style files */

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin-top: 90px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

div.error-field {
  font-size: small;
  color: red;
}
